@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root{
    --primary-color:#6366F1
    ;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/* links */
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/* bem method */

.link-primary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}